<!doctype html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style media="screen">
  .navbar {
    background : #000000;
  }
  .navbar-brand {
    padding: 0px 0px 0px 10px;
  }
</style>
<body>
<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://terriblytinytales.com/">
        <img src="http://terriblytinytales.com/img/logo_monogram.jpg" height="100%" alt="TTT" data-toggle="tooltip" title="Go to Website">
      </a>
    </div>
  </div>
</nav>
<div class="text-center" style="background:#000000;">
  <a href="/">
    <!--<img src="http://terriblytinytales.com/img/logo_hero.jpg" alt="terribly tiny tales" data-toggle="tooltip" title="Home">-->
  </a>
</div>
<div class="container-fluid">
